* {
  -webkit-user-drag: none;
  user-select: none;
}

:root {
  --bg: #f2f3f5;
  --bg-hover: #dcdfe6;
  --bg-active: #cdd0d6;
  --border: 1px solid #cdd0d6;
  --border-hover: #f2f3f5;
  --border-active: #ffffff;
  --text-color: #606266;
  --text-color-active: #409eff;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
}
.window {
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  overflow: hidden;
  position: relative;
}

.float-button {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
  font-size: 32px;
  cursor: pointer;
  transition: 0.1s;
  color: var(--text-color-active);
}
.float-button:hover {
  transform: rotate(360deg);
  color: #8eb9fb;
}
.generator-mode .float-button {
  color: #de776f;
  transform: rotate(45deg);
}
.generator-mode .float-button:hover {
  color: #e69e99;
  transform: rotate(405deg);
}

.generator-mode .viewer {
  left: -100vw;
}
.generator-mode .generator {
  left: 20px;
}

.el-divider__text {
  background-color: #f2f3f5;
}

.el-button {
  cursor: default;
}
