@font-face {
  font-family: "iconfont"; /* Project id 3551021 */
  src: url('iconfont.woff2?t=1762430531531') format('woff2'),
       url('iconfont.woff?t=1762430531531') format('woff'),
       url('iconfont.ttf?t=1762430531531') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e605";
}

.icon-arrow-up:before {
  content: "\e606";
}

.icon-sort-desc:before {
  content: "\e602";
}

.icon-sort-asc:before {
  content: "\e603";
}

.icon-sort-default:before {
  content: "\e604";
}

.icon-reset:before {
  content: "\e616";
}

.icon-open-dir:before {
  content: "\e670";
}

.icon-info:before {
  content: "\e83d";
}

.icon-lock:before {
  content: "\e676";
}

.icon-unlock:before {
  content: "\e682";
}

.icon-drag-drop:before {
  content: "\e705";
}

.icon-detail:before {
  content: "\e66b";
}

.icon-paging:before {
  content: "\e83c";
}

.icon-split:before {
  content: "\e60d";
}

.icon-join:before {
  content: "\e60e";
}

.icon-hv-screen:before {
  content: "\e613";
}

.icon-clear:before {
  content: "\e67a";
}

.icon-remove:before {
  content: "\e679";
}

.icon-options:before {
  content: "\e6ef";
}

.icon-filter:before {
  content: "\e66e";
}

.icon-image:before {
  content: "\e702";
}

.icon-images:before {
  content: "\e704";
}

.icon-bold:before {
  content: "\e7f7";
}

.icon-italic:before {
  content: "\e7fb";
}

.icon-up:before {
  content: "\e615";
}

.icon-left:before {
  content: "\e61b";
}

.icon-right:before {
  content: "\e61c";
}

.icon-down:before {
  content: "\e618";
}

.icon-delete:before {
  content: "\e677";
}

.icon-add:before {
  content: "\e678";
}

.icon-last:before {
  content: "\e68a";
}

.icon-first:before {
  content: "\e68c";
}

.icon-play:before {
  content: "\e68d";
}

.icon-prev:before {
  content: "\e68e";
}

.icon-pause:before {
  content: "\e68f";
}

.icon-next:before {
  content: "\e690";
}

.icon-space:before {
  content: "\e775";
}

.icon-mouse-wheel:before {
  content: "\e6bd";
}

.icon-mouse-right:before {
  content: "\e6be";
}

.icon-mouse-left:before {
  content: "\e6bf";
}

.icon-tips:before {
  content: "\e661";
}

.icon-preview:before {
  content: "\e601";
}

.icon-zoom-fit:before {
  content: "\e69f";
}

.icon-position-center:before {
  content: "\e63d";
}

.icon-zoom-1:before {
  content: "\e912";
}

.icon-zoom-out:before {
  content: "\e886";
}

.icon-zoom-in:before {
  content: "\e887";
}

.icon-center:before {
  content: "\e6df";
}

.icon-crop:before {
  content: "\e650";
}

.icon-flip:before {
  content: "\eb63";
}

.icon-crop-rotate:before {
  content: "\eba1";
}

.icon-grid:before {
  content: "\e838";
}

.icon-rotate-180:before {
  content: "\e6a8";
}

.icon-rotate:before {
  content: "\e600";
}

.icon-rotate-right:before {
  content: "\e683";
}

.icon-rotate-left:before {
  content: "\e684";
}

.icon-open-file:before {
  content: "\e643";
}

.icon-setting:before {
  content: "\e660";
}

.icon-start:before {
  content: "\e74f";
}

.icon-stop:before {
  content: "\e68b";
}

